{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <link rel="stylesheet" href="{% static 'styles/table.css' %}">
    <link rel="stylesheet" href="{% static 'styles/buttons.css' %}">
    
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap" rel="stylesheet">

    <title>Consoles</title>

</head>
<body>
<div class="container">

    <h1>Lista de Consoles</h1>

    <table class="table table_cores">
        <tr>
            <td>ID</td>
            <td>Nome Console</td>
            <td>Fabricante</td>
            <td>Ano de Lançamento</td>
            <td>Descrição</td>
            <td><a class="add_button" href="{% url 'create_console' %}">Adicionar</a></td>
        </tr>
    {% for console in consoles %}
            <tr>
                <td>{{ console.id }}</td>
                <td>{{ console.consoleName }}</td>
                <td>{{ console.fabricante }}</td>
                <td>{{ console.lancamento }}</td>
                <td>{{ console.descricao }}</td>
                <td><a class="update_button" href="{% url 'update_console' console.id %}">Atualizar</a></td>
                <td><a class="delete_button" href="{% url 'delete_console' console.id %}">Excluir</a></td>
            </tr>
            {% endfor %}
        </table>

</div>
</body>
</html>